name: Python Package

on: [push]

jobs:
  build-test-multiplatform:
    name: ${{ matrix.os.name }} ${{ matrix.python-version }}
    runs-on: ${{ matrix.os.runs-on }}
    strategy:
      max-parallel: 4
      fail-fast: false
      matrix:
        python-version: [ 3.6 ]
        os:
            - name: Linux
              runs-on: ubuntu-20.04
              python_platform: linux
            - name: macOS
              runs-on: macos-latest
              python_platform: darwin
            - name: Windows
              runs-on: windows-latest
              python_platform: x64

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip # setuptools wheel
        python -m pip install flake8 pytest
        pip install -r requirements.txt
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. Line is 160 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=160 --statistics
    - name: Test with pytest
      run: |
        pip install -e .
        pytest
